.page-pdf {
  position: relative;
  margin: 15px auto;
  padding: 50px 40px;
  width: 840px;
  height: 1188px;
  font-size: 18px;
  line-height: 2;
  background: #fff;
  overflow: hidden;
}

.page-pdf img {
  max-width: 100%;
}

.report-pdf-time {
  position: absolute;
  color: rgba(255, 255, 266, 0.9);
  top: 775px;
  right: 85px;
  font-size: 30px;
}

.page-pdf-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 40px;
  padding-bottom: 5px;
  width: calc(100% - 80px);
  height: 50px;
  font-size: 14px;
  border-bottom: 2px solid #1868b3;
  background: #fff;
}

.page-pdf-header .title {
  color: #001b66;
  font-size: 14px;
}

.page-pdf-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  padding-top: 5px;
  width: calc(100% - 80px);
  height: 50px;
  font-size: 14px;
  border-top: 2px solid #1868b3;
  background: #fff;
}
