{
  "root": true,
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "React": true
  },
  "rules": {
    "arrow-parens": 0,
    "class-methods-use-this": 0,
    "import/no-unresolved": 0,
    "camelcase": 0,
    "max-len": 0,
    "no-param-reassign": 0,
    "no-console": 0,
    "no-unused-vars": "warn",
    "object-curly-newline": 0,
    "operator-linebreak": 0,
    "lines-between-class-members": 0,
    "import/prefer-default-export": 0,
    "react/prefer-stateless-function": 0,
    "react/no-array-index-key": "warn",
    "react/react-in-jsx-scope": 0,
    "react/jsx-no-bind": 0,
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-wrap-multilines": 0,
    "react/no-unused-state": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/jsx-one-expression-per-line": 0
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  }
}
